@model IEnumerable<Bangom.Models.SiparisUrun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunFiyati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siparis.Durum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urun.UrunAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uye.UyeAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunFiyati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Siparis.Durum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uye.UyeAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SiparisUrunID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SiparisUrunID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SiparisUrunID })
        </td>
    </tr>
}

</table>
