@model Bangom.Models.Uye

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeResmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeResmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yetki.YetkiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.YetkiAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UyeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
