@model IEnumerable<Bangom.Models.UrunKampanya>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunKampanyaAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YeniFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunKampanyaBaslangic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunKampanyaBitis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urun.UrunAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunKampanyaAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YeniFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunKampanyaBaslangic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunKampanyaBitis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UrunKampanyaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UrunKampanyaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UrunKampanyaID })
        </td>
    </tr>
}

</table>
