@model IEnumerable<Bangom.Models.Marka>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MarkaAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkaResmi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MarkaAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkaResmi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MarkaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MarkaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MarkaID })
        </td>
    </tr>
}

</table>
