@model Bangom.Models.Uye
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="position-relative">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
        <hr />
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4>
                        <i class="ace-icon fa fa-coffee green"></i>
                        Kullanıcı Bilgilerinizi Giriniz...
                    </h4>
                    <div class="space-6"></div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <fieldset>
                            <span class="alert-danger h2">@ViewBag.Uyarı</span>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @*@ @Html.LabelFor(model => model.Numara, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "E-Posta" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <i class="ace-icon fa fa-user"></i>
                                </span>
                            </label>

                            @* @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "", @placeholder = "Şifre" } })
                                    @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                            </label>




                            <div class="clearfix">
                                @*<label class="inline">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"> Beni Hatırla</span>
                                    </label>*@

                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                    <i class="ace-icon fa fa-key"></i>
                                    <span class="bigger-110">Giriş</span>
                                </button>
                            </div>
                        </fieldset>
                    }



                    @*Facebook ile falan giriş yapma*@
                    @*<div class="social-or-login center">
                            <span class="bigger-110">Or Login Using</span>
                        </div>

                        <div class="space-6"></div>

                        <div class="social-login center">
                            <a class="btn btn-primary">
                                <i class="ace-icon fa fa-facebook"></i>
                            </a>

                            <a class="btn btn-info">
                                <i class="ace-icon fa fa-twitter"></i>
                            </a>

                            <a class="btn btn-danger">
                                <i class="ace-icon fa fa-google-plus"></i>
                            </a>
                        </div>*@
                </div><!-- /.widget-main -->

                <div class="toolbar clearfix">
                    <div>
                        @*<a href="#" data-target="#forgot-box" class="forgot-password-link">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                Şifremi Unuttum.
                            </a>*@
                    </div>

                    <div>
                        <a href="~/Uye/YeniUye" data-target="#signup-box" class="user-signup-link">
                            Kayıt Olmak İstiyorum.
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
        @*<div id="forgot-box" class="forgot-box widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header red lighter bigger">
                            <i class="ace-icon fa fa-key"></i>
                            Retrieve Password
                        </h4>

                        <div class="space-6"></div>
                        <p>
                            Enter your email and to receive instructions
                        </p>

                        <form>
                            <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="email" class="form-control" placeholder="Email" />
                                        <i class="ace-icon fa fa-envelope"></i>
                                    </span>
                                </label>

                                <div class="clearfix">
                                    <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                        <span class="bigger-110">Send Me!</span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div><!-- /.widget-main -->

                    <div class="toolbar center">
                        <a href="#" data-target="#login-box" class="back-to-login-link">
                            Girişe geri dön
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div><!-- /.widget-body -->
            </div><!-- /.forgot-box -->*@

    </div><!-- /.position-relative -->
</div>