@model Bangom.Models.UrunResim

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UrunResim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunResmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunResmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urun.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urun.UrunAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrunResimID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
