@model IEnumerable<Bangom.Models.UrunResim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunResmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urun.UrunAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.UrunResmi)*@
            @{
                if (item.UrunResmi != null) //Databaseden resim çekme
                {
                    var base64 = Convert.ToBase64String(item.UrunResmi);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UrunResimID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UrunResimID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UrunResimID })
        </td>
    </tr>
}

</table>
